
/* fonts */
@font-face {
	font-family: 'Kollektif';
	src: url('fonts/kollektif/Kollektif.ttf');
}

@font-face {
	font-family: 'Bold Kollektif';
	src: url('fonts/kollektif/Kollektif-Bold.ttf');
}
h1 {
	color: #7360DF;
	font-family: 'Bold Kollektif', sans-serif;

}

h2 {
	color: #C499F3;
	font-family: 'Rubik', sans-serif;

}

p {
	color: #33186B;
	font-family: 'Kollektif', sans-serif;
}

li {
	color: #33186B;
	font-family: 'Kollektif', sans-serif;

}


/* navigation bar style the links */
.topnav{
	float: left;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	padding; 15px 15px;
	text-decoration: none;
	font-size: 17px;
	color: #33186B;
}

/*change the color of links on hover*/
.topnav a:hover{
	background-color:#97bf4b;
	color: white;
}

/*change the color of active/current link*/
.topnav a.active{
	background-color: ≈;
	color: #C499F3;
}

/*link colors */
a:link {
	text-decoration: none;
}

a:visited {
	color: #C499F3;

}

a:hover{
	color:#97bf4b;
}