
/* fonts */
@font-face {
	font-family: 'Kollektif';
	src: url('fonts/kollektif/Kollektif.ttf');
}

@font-face {
	font-family: 'Bold Kollektif';
	src: url('fonts/kollektif/Kollektif-Bold.ttf');

/*Page title */
}
.page-title {
	color: #7360DF;
	background: #fff;
	font-family: 'Bold Kollektif', sans-serif;
	position: absolute;
	top: 0;
	margin-left: 5px;

}

/* Fonts*/

h2 {
	color: #C499F3;
	font-family: 'Rubik', sans-serif;

}

p {
	color: #33186B;
	font-family: 'Kollektif', sans-serif;
}


li {
	color: #33186B;
	font-family: 'Kollektif', sans-serif;

}

/* navigation bar style the links */
.topnav{
	font-family: 'Rubik', sans-serif;
	text-decoration: none;
	font-size: 17px;
	color: #33186;
	position: absolute;
	padding: 15px 20px;
	top: 0;
	right: 0;
	
}

/*change the color of links on hover*/
.topnav a:hover{
	background-color:#97bf4b;
	color: white;
}

/*change the color of active/current link*/
.topnav a.active{
	color: #C499F3;
}

/*link colors */
a:link {
	text-decoration: none;
}

a:visited {
	color: #C499F3;

}

a:hover{
	color:#97bf4b;
}

/* Moodboard*/
.moodboard {
	margin-top: 50px;
	position: relative;
}

.background-image{
	z-index: -1;
	position: absolute;
}

.sylvana-image{
	top: 180px;
	left: 200px;
	position: absolute;
	z-index: 1;
}

.bio {
	margin-top: 200px;
}