
h1 {
	color: #7360DF;
	font-family: 'Rubik', sans-serif;

}

h2 {
	color: #C499F3;
	font-family: 'Rubik', sans-serif;

}

p {
	color: #33186B;
	font-family: 'Rubik', sans-serif;
}

li {
	color: #33186B;
	font-family: 'Rubik', sans-serif;

}